{% load filters %}
<div {% if dept %}id="account-search-modal-{{ dept_name }}"{% else %}id="account-search-modal"{% endif %} class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Search Accounts</p>
            <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Find By:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="select is-fullwidth">
                            <select id="search-criteria">
                                <option disabled selected style="display: none"></option>
                                <option id="name" value="account_name"> Account Name</option>
                                <option id="acc-id" value="account_id"> Account ID</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Filter :</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input {% if dept %} class="input account-input-search-{{ dept_name }}"
                                                 data-dept="{{ dept_id }}" {% else %} class="input"
                                                 id="account-input-search"{% endif %} type="text" disabled>
                        </div>
                    </div>
                </div>
            </div>
            {% if dept %}
            <div class="table-wrapper has-mobile-cards"
                 style="overflow:auto;max-height:400px;">
                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                       role="grid">
                    <thead>
                    <tr>
                        <th>Account ID</th>
                        <th>Account Name</th>
                        
                        <th></th>

                    </tr>
                    </thead>
                    <tbody class="budget-table-body" id="table-body" role="rowgroup">

                            <tr role="row" data-total="{{ acc.total }}">
                                <td data-label="Account id"></td>
                                <td data-label="Account name"
                                    style="width: 10%;"></td>
                                
                                <td class="is-actions-cell">

                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>

            {% else %}
                <div class="table-container" style="height: 150px; overflow-y: scroll;">
                    <table class="table is-bordered is-fullwidth  is-narrow " id="search-modal-table">
                        <thead class="is-static">
                        <th>Account ID</th>
                        <th>Account Name</th>
                        </thead>
                        <tbody id="table-body">


                        <tr>
                            <td><a class="has-text-black has-text-centered"></a></td>
                            <td><a class="has-text-black has-text-centered"></a></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            {% endif %}

        </section>
        <footer class="modal-card-foot">
            <button class="button jb-modal-close">Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>