<div id="edit-form-settings-modal" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Choose Method</p>
            <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field has-check is-horizontal">
                <div class="field-label"><label class="label"></label></div>
                <div class="field-body">
                    <div class="field ml-2">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="editByformula" class="editCheckb"
                                                                          value="formula">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">By Formula</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="editBymonth" class="ceditCheckb"
                                                                          value="months">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">By Month</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
            
        <footer class="modal-card-foot">
            <button class="button jb-modal-close">Save</button>
            <button class="button jb-modal-close">Cancel</button>
        </footer>
    </div>
    <div class="modal-card is-hidden" id="chooseDistribution">
        
        <header class="modal-card-head">
            <p class="modal-card-title">Choose Distribution</p>
            <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field has-check is-horizontal">
                <div class="field-label"><label class="label"></label></div>
                <div class="field-body">
                    <div class="field ml-2">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="evenly" class="checkb"
                                                                          value="evenly">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Evenly</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="months" class="checkb"
                                                                          value="months">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">By Month</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="quarter" class="checkb"
                                                                          value="quarter">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Quarterly</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="field has-check is-horizontal  is-hidden" id="months-div">
                <hr style="margin: 1rem">
                <div class="field-body">
                    <div class="field ml-3">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" class="variableCheckbox"
                                                                          value="jan">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Jan</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" class="variableCheckbox"
                                                                          value="feb">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Feb</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="mar"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Mar</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="apr"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Apr</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="may"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">May</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="jun"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Jun</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="jul"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Jul</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="aug"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Aug</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="sep"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Sep</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="oct"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Oct</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="nov"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Nov</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="dec"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Dec</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="field has-check is-horizontal  is-hidden" id="quarter-div">

                 <div class="field-label"><label class="label"></label></div>
                <div class="field-body">
                    <div class="field ml-3">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">

                                <label class="b-checkbox checkbox"><input type="checkbox" class="quaterlyCheckbox"
                                                                          value="q1">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q1</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" class="quaterlyCheckbox"
                                                                          value="q2">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q2</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="q3"
                                                                          class="quaterlyCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q3</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="q4"
                                                                          class="quaterlyCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q4</span>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button jb-modal-close">Save</button>
            <button class="button jb-modal-close">Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>
<!---<script>
    const editformulaCB = document.getElementById('editByFormula')
    const editmonthsCB = document.getElementById('editBymonths')
    const distrubuteByQuarterCB = document.getElementById('dist-quarter')
    const distrubuteEvenlyCB = document.getElementById('dist-evenly')
    const distrubutionDiv= document.getElementById('chooseDistribution')
    const distrubuteByMonthCB = document.getElementById('dist-month')
    const checkbElements = document.querySelectorAll('.editCheckb');
    
    if (checkbElements.length > 0) {
        checkbElements.forEach(cb => {
            cb.addEventListener('click', handleCheck);
        });
    }

// Function to handle checkbox clicks to specify amount distribution
    function handleCheck() {
        if (editformulaCB.checked) {
            distrubutionDiv.classList.remove('is hidden')
            

        } else if (editmonthsCB.checked) {
            fetch(`edit_line/${}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(result => {
                    
                    }
                )
        } else if (quarterCB.checked) {
            editmonthsCB.checked = false
            editevenlyCB.checked = false
            editquarterDiv.classList.remove('is-hidden')
            editmonthsDiv.classList.add('is-hidden')
            document.querySelectorAll('.quaterlyCheckbox').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    quarter = [];
                    let checkedBoxes = document.querySelectorAll('.quaterlyCheckbox:checked');
                    checkedBoxes.forEach(function (checkbox) {
                        quarter.push(checkbox.value);
                    });
                });
            });

        } else {
            editmonthsDiv.classList.add('is-hidden')
            editquarterDiv.classList.add('is-hidden')
        }
    }

</script>-->