<div class="paginator p-2" id="paginator" data-num-pages="{{ dept.paginator.num_pages }}">
    <div class="columns">
        <div class="column is-half mb-4 mb-md-0" id="current">
            <span id="page_navigator">Showing {{ dept.number }} of {{ dept.paginator.num_pages }} Pages</span>
        </div>
        <div class="column is-half is-flex is-justify-content-flex-end">
            <div class="custom-pagination-{{ dept_name }} ml-auto">
                <span>
                    {% if dept.has_previous %}
                    <a href="?page={{ dept.previous_page_number }}" id="previous" class="px-2 previous">Prev</a>
                    <a href="?page=1" class="px-2 first" id="first">First</a>
                    {% else %}
                    <a href="?page=0" id="previous" class="px-2 previous is-hidden">Prev</a>
                    <a href="?page=1" class="px-2 first is-hidden" id="first">First</a>
                    {% endif %}
                </span>
                {% if dept.has_next %}
                <span id="next_page">
                    <a class="px-2 next" id="next" href="?page={{ dept.next_page_number }}">Next</a>
                    <a href="?page={{ dept.paginator.num_pages }}" class="px-2" id="last">Last </a>
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
