<div id="form-settings-modal" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Choose Distribution</p>
            <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field has-check is-horizontal">
                <div class="field-label"><label class="label"></label></div>
                <div class="field-body">
                    <div class="field ml-2">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="evenly" class="checkb"
                                                                          value="evenly">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Evenly</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="months" class="checkb"
                                                                          value="months">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">By Month</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" id="quarter" class="checkb"
                                                                          value="quarter">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Quarterly</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="field has-check is-horizontal  is-hidden" id="months-div">
                <hr style="margin: 1rem">
                <div class="field-body">
                    <div class="field ml-3">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" class="variableCheckbox"
                                                                          value="jan">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Jan</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" class="variableCheckbox"
                                                                          value="feb">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Feb</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="mar"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Mar</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="apr"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Apr</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="may"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">May</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="jun"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Jun</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="jul"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Jul</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="aug"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Aug</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="sep"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Sep</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="oct"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Oct</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="nov"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Nov</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="dec"
                                                                          class="variableCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Dec</span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="field has-check is-horizontal  is-hidden" id="quarter-div">

                 <div class="field-label"><label class="label"></label></div>
                <div class="field-body">
                    <div class="field ml-3">
                        <div class="field is-grouped-multiline is-grouped">
                            <div class="control">

                                <label class="b-checkbox checkbox"><input type="checkbox" class="quaterlyCheckbox"
                                                                          value="q1">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q1</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" class="quaterlyCheckbox"
                                                                          value="q2">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q2</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="q3"
                                                                          class="quaterlyCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q3</span>
                                </label>
                            </div>
                            <div class="control">
                                <label class="b-checkbox checkbox"><input type="checkbox" value="q4"
                                                                          class="quaterlyCheckbox">
                                    <span class="check is-primary"></span>
                                    <span class="control-label">Q4</span>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <footer class="modal-card-foot">
            <button class="button jb-modal-close">Save</button>
            <button class="button jb-modal-close">Cancel</button>
        </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>