<div id="report-modal-capex" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Confirm action</p>
            <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p>Generate CAPEX budget summary as excel</p>
        </section>
        <footer class="modal-card-foot">
            <a class="button jb-modal-close is-small" >Cancel</a>
            <a href="{% url 'budgets:report-capex'  %}" class="button is-info is-small "><span>Download<i class="mdi mdi-file-download"></i></span></a>
        </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>