{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                    <div class="level-item">
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                              <ul>
                                  <li><a {% if request.user.role == '001' %}href="{% url 'budgets:dashboard-home-department' %}{% elif request.user.role == '002' %}href="{% url 'budgets:dashboard-home' %}"{% endif %}"><h1>Dashboard</h1></a>
                                </li>
                                <li><a><h1>
                                  {{ account }} Actual Transactions
                                </h1></a>
                                </li>
                                  
                                
                              </ul>
                            </nav>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        
                        <div class="level-item">
                              
                          
                        </div>
                </div>
            </div>
            </div>
        </section>
        <section class="section is-main-section mt-6">
        
            <div class="card has-table has-mobile-sort-spaced">
                   
                     <div class="level " style="margin-top:0.5rem;margin-bottom:1rem; font-weight:bold;">
                                        <div class="level-left">
                                        </div>
                                        <div class="level-right">
                                         <div class="level-item mr-2">
                                             
                                            <input id="filterDocumentNumber" type="text" class="input is-small p-2 mr-1" placeholder="Filter by document number">
                                            <input id="filterAmount" type="text" class="input is-small p-2 mr-1" placeholder="Filter by amount">
                                            <input id="filterAccountId" type="text" class="input is-small p-2 mr-1" placeholder="Filter by GL account">
                                            <button id="filterButton" class="button is-small">Filter</button>
                                        </div>
                                        </div>
                            
                     </div>
                        <div class="table-wrapper has-mobile-cards p-2 "
                             style="overflow:auto;max-height:600px;">
                            <table id="budget-total" class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                                   role="grid">
                                <thead >
                                
                                <tr>

                                     <th >Transaction Reference</th>
                                    <th >Transaction Description</th>
                                    <th >Amount</th>
                                    <th >Date</th>
                                    <th >GL Account</th>
                                    

                                </tr>
                                </thead>
                                <tbody class="budget-table-body"  role="rowgroup">
                                 {% for dept_total in data.dept_totals %}
                                    {% for data_entry in dept_total.data %}
                                        <tr>
                                            <td >{{ data_entry.document_number }}</td>
                                            <td >{{ data_entry.description }}</td>
                                            <td >{{ data_entry.amount }}</td>
                                            <td >{{ data_entry.date }}</td>
                                            <td >{{ data_entry.account_id }}</td>
                                           
                                        </tr>
                                    {% endfor %}
                                {% endfor %}


                                </tbody>
                            
                            </table>

                        </div>
                    </div>
        </section>
    </div>
    <script>
    document.getElementById('filterButton').addEventListener('click', filterTable);

function filterTable() {
    const filterDocumentNumber = document.getElementById('filterDocumentNumber').value.toLowerCase();
   
    const filterAmount = document.getElementById('filterAmount').value.toLowerCase();
    const filterAccountId = document.getElementById('filterAccountId').value.toLowerCase();

    const tableRows = document.querySelectorAll('#budget-total tbody tr');

    tableRows.forEach(row => {
        const documentNumber = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
        const amount = row.querySelector('td:nth-child(5)').textContent.toLowerCase();
        const accountId = row.querySelector('td:nth-child(6)').textContent.toLowerCase();

        if (
            (filterDocumentNumber === '' || documentNumber.includes(filterDocumentNumber)) &&
            (filterAmount === '' || amount.includes(filterAmount)) &&
            (filterAccountId === '' || accountId.includes(filterAccountId))) {
            row.style.display = '';
        } else {
            row.style.display = 'none';
        }
    });
}




    </script>
{% endblock %}
