{% load filters %}
<!DOCTYPE html>
{% load static %}
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BudgetIntegration</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href={% static 'MaterialDesign-Webfont-master/css/materialdesignicons.min.css' %}>
   <script src="https://kit.fontawesome.com/f85e774b10.js" crossorigin="anonymous"></script> 
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
</head>
<body>
<style>
    .mdi-bell[data-count]:after {
        position: absolute;
        right: 0%;
        top: 1%;
        content: attr(data-count);
        font-size: 46%;
        padding: 1em;
        border-radius: 999px;
        line-height: .75em;
        color: white;
        background: rgba(255, 0, 0, .85);
        text-align: center;
        min-width: 2em;
        font-weight: bold;
    }
</style>
<nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item  jb-aside-mobile-toggle is-hidden">
            <span class="icon"><i class="mdi mdi-front mdi-24px"></i></span>
        </a>
        <div class="navbar-item has-control">
        </div>
    </div>
    <div class="navbar-brand is-right">
        <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
            <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
        </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
        <div class="navbar-end">

            <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
                <a class="navbar-link is-arrowless" href="{% url 'budgets:logout' %}">
                    <div class="is-user-avatar">
                        <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
                    </div>
                    <div class="is-user-name">
                        <span>{{ request.user.first_name }} {{ request.user.last_name }}</span></div>
                    <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
                </a>
                <div class="navbar-dropdown">


                    <a class="navbar-item">
                        <span class="icon"><i class="mdi mdi-logout"></i></span>
                        <span>Log Out</span>
                    </a>
                </div>
            </div>
            {% if request.user.role == '002' %}
                <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
                    <a class="navbar-link is-arrowless">
                <span class="icon has-badge-rounded has-badge-danger" aria-expanded="false">
                    <i class="pl-1 mdi mdi-bell" id="bellCount" data-count="0"></i>

                </span>
                    </a>
                    <div class="navbar-dropdown is-right" id="notify">
                    </div>
                </div>
            {% endif %}
            <a href="{% url 'budgets:logout' %}" title="Log out" class="navbar-item is-desktop-icon-only">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log out</span>
            </a>
        </div>
    </div>
</nav>
<aside class="aside is-placed-left is-expanded is narrow " style=" overflow-y: auto;">
    <div class="aside-tools">
        <div class="aside-tools-label">
            <span> <a class="jb-aside-toggle has-text-white"><span class="icon"><i
                    class="mdi mdi-finance"></i></span><b>Budget Integration</b></a></span>
        </div>
    </div>
    <div class="menu is-menu-main">
        <ul class="menu-list">
            <li>
             {% if request.user.role != '002' %}
                <a href="{% url 'budgets:dashboard-home-department'  %}"
                   class="has-icon {% if request.resolver_match.view_name == 'budgets:dashboard-home-department' %} is-active {% endif %}">
                    <span class="icon"><i class="mdi mdi-monitor-dashboard"></i></span>
                    <span class="menu-item-label">Dashboard</span>

                </a>
            {% else %}
                  <a href="{% url 'budgets:dashboard-home'  %}"
                   class="has-icon {% if request.resolver_match.view_name == 'budgets:dashboard-home' %} is-active {% endif %}">
                    <span class="icon"><i class="mdi mdi-monitor-dashboard"></i></span>
                    <span class="menu-item-label">Dashboard</span>

                </a>
               
        {% endif %}
        
            <li> <a href="{% url 'budgets:budget_summary'  %}"
                   class="has-icon {% if request.resolver_match.view_name == 'budgets:budget_summary' %} is-active {% endif %}">
                    <span class="icon"><i class="mdi mdi-list-box-outline"></i></span>
                    <span class="menu-item-label">Budget Input Summary</span>

                </a></li>
            <li {% if request.resolver_match.view_name == 'budgets:home' or request.resolver_match.view_name == 'budgets:home-opex'%}class="is-active"{% endif %} >
                {% if request.user.role != '002' %}
                    <a href="{% url 'budgets:home-dept' %}"
                   class="has-icon {% if request.resolver_match.view_name == 'budgets:home-dept' %} is-active {% endif %}">
                    <span class="icon"><i class="mdi mdi-table"></i></span>
                    <span class="menu-item-label">Budget Input Summary </span>

                    </a>
                {% else %}
                     <a class="has-icon has-dropdown-icon"  aria-haspopup="true" aria-controls="dropdown-menu ">
                     <span class="icon"><i class="mdi mdi-table"></i></span>
                    <span class="menu-item-label">Budget Input</span>
                     <div class="dropdown-icon ">
                        <span class="icon"><i class="mdi mdi-plus"></i></span>
                    </div>
                </a>
             <ul>
                    <li>
                        <a href="{% url 'budgets:home'  %}"
                           class=" dropdown-item {% if request.resolver_match.view_name == 'budgets:home' %} is-active{% endif %}">
                            <span>CAPEX</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'budgets:home-opex'  %}"
                           class=" dropdown-item {% if request.resolver_match.view_name == 'budgets:home-opex' %} is-active{% endif %}">
                            <span>OPEX</span>
                        </a>
                    </li>
                </ul>
            </li>

                {% endif %}
            

            <li {% if request.resolver_match.view_name == 'budgets:settings' or request.resolver_match.view_name == 'budgets:assumptions' %} class="is-active" {% endif %}>
                <a class="has-icon has-dropdown-icon " aria-haspopup="true"
                   aria-controls="dropdown-menu" >
                    <span class="icon"><i class="mdi mdi-cogs"></i></span>
                    <span class="menu-item-label">Budget Settings</span>
                    <div class="dropdown-icon ">
                        <span class="icon"><i class="mdi mdi-plus"></i></span>
                    </div>
                </a>

                <ul>
                    <li>
                        <a {% if request.user.role == '002' %} href="{% url 'budgets:settings' %}" {% else %}  href="{% url 'budgets:department-settings' request.user.department.id %}"{% endif %}
                           class=" dropdown-item {% if request.resolver_match.view_name == 'budgets:settings' %} is-active{% endif %}">
                            <span>Budget</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'budgets:assumptions' %}"
                           class=" dropdown-item {% if request.resolver_match.view_name == 'budgets:assumptions' %} is-active{% endif %}">
                            <span>Assumptions</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if request.user.role == '002' %}
                <li >
               
                     <a class="has-icon has-dropdown-icon"  aria-haspopup="true" aria-controls="dropdown-menu ">
                     <span class="icon"><i class="mdi mdi-table"></i></span>
                    <span class="menu-item-label">Reports</span>
                     <div class="dropdown-icon ">
                        <span class="icon"><i class="mdi mdi-plus"></i></span>
                    </div>
                </a>
             <ul>
                    <li>
                        <a  data-target="report-modal-capex"
                           class=" dropdown-item jb-modal ">
                            <span>CAPEX</span>
                        </a>
                    </li>
                    <li>
                        <a data-target="report-modal-opex"
                           class=" dropdown-item jb-modal ">
                            <span>OPEX</span>
                        </a>
                    </li>
                </ul>
            </li>
                <li><a class="has-icon has-dropdown-icon"  aria-haspopup="true" aria-controls="dropdown-menu ">
                     <span class="icon"><i class="mdi mdi-table"></i></span>
                    <span class="menu-item-label">ChangeLog</span>
                     <div class="dropdown-icon ">
                         <span class="icon"><i class="mdi mdi-plus"></i></span></div></a>
               
                <ul>
                <li>
                    <a href="{% url 'budgets:changelog' %}">
                        <span class="icon"><i class="mdi mdi-cogs"></i></span>
                        <span class="menu-item-label">Adjustment</span>
                    </a>
                </li>
                    <li>
                    <a href="{% url 'budgets:variation-changelog' %}">
                        <span class="icon"><i class="mdi mdi-cogs"></i></span>
                        <span class="menu-item-label">Variation</span>
                    </a>
                </li>
                </ul>
                 </li>
            {% endif %}

        </ul>

    </div>
</aside>
{%  include 'partials/opex-report-modal.html' %}
{%  include 'partials/report-modal.html' %}
{% block content %}{% endblock %}

{% block extra-scripts %}{% endblock %}
<script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
<script src="{% static 'js/jquery.min.js.js' %}"></script>


{% include 'footer.html' %}
</body>
</html>
