{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><h1 class="title">
                            BUDGET INPUT SUMMARY
                        </h1></div>
                    </div>
                    <div class="level-right">
                 <div class="level-item">
               <a href="{% url 'budgets:group-settings' %}" class="mr-2 ml-2  has-text-black"><span ><i class="mdi mdi-cogs mdi-36px" ></i></span></a>
                 <a href="{% url 'budgets:summary-to-excel' %}" class="mr-2 has-text-black"><span ><i class="mdi mdi-microsoft-excel mdi-36px" ></i></span></a>
                 </div>       
               
            </div>
        </section>
        
        <section class="section is-main-section ">
           {% if request.user.role == '002' %} 
          {% include 'summary-card-content.html' with dept=ceo dept_name='CEO' dept_id=1 group_ids=ceo_group_ids %}
           {% include 'summary-card-content.html' with dept=internal_audit dept_name='Internal Audit' dept_id=2 group_ids=internal_audit_group_ids %}
           {% include 'summary-card-content.html' with dept=supply_chain dept_name='Supply Chain' dept_id=3 group_ids=supply_chain_group_ids %}
           {% include 'summary-card-content.html' with dept=bds dept_name='Strategy' dept_id=4 group_ids=bds_group_ids %}
           {% include 'summary-card-content.html' with dept=public_relations dept_name='Public Relations' dept_id=5 group_ids=public_relations_group_ids %}
           {% include 'summary-card-content.html' with dept=technical dept_name='Technical' dept_id=6 group_ids=technical_group_ids %}
           {% include 'summary-card-content.html' with dept=information_systems dept_name='Information Systems' dept_id=7 group_ids=information_systems_group_ids %}
           {% include 'summary-card-content.html' with dept=legal_risk dept_name='Legal & Risk' dept_id=8 group_ids=legal_risk_group_ids %}
           {% include 'summary-card-content.html' with dept=human_capital dept_name='Human Capital' dept_id=9 group_ids=human_capital_group_ids %}
           {% include 'summary-card-content.html' with dept=sales_marketing dept_name='Sales & Marketing' dept_id=10 group_ids=sales_marketing_group_ids %}
           {% include 'summary-card-content.html' with dept=admin dept_name='Administration' dept_id=11 group_ids=admin_group_ids %}
           {% include 'summary-card-content.html' with dept=finance dept_name='Finance' dept_id=12 group_ids=finance_group_ids %}
            {% else %}
               {% if request.user.department.id == 1 %}
           {% include 'summary-card-content.html' with dept=ceo dept_name='CEO' dept_id=1 group_ids=ceo_group_ids %}
               {% elif request.user.department.id == 2 %}
                {% include 'summary-card-content.html' with dept=internal_audit dept_name='Internal Audit' dept_id=2 group_ids=internal_audit_group_ids %}
            {% elif request.user.department.id == 3 %}
                {% include 'summary-card-content.html' with dept=supply_chain dept_name='Supply Chain' dept_id=3 group_ids=supply_chain_group_ids %}
            {% elif request.user.department.id == 4 %}
                {% include 'summary-card-content.html' with dept=bds dept_name='Strategy' dept_id=4 group_ids=bds_group_ids %}
            {% elif request.user.department.id == 5 %}
                {% include 'summary-card-content.html' with dept=public_relations dept_name='Public Relations' dept_id=5 group_ids=public_relations_group_ids %}
            {% elif request.user.department.id == 6 %}
                {% include 'summary-card-content.html' with dept=technical dept_name='Technical' dept_id=6 group_ids=technical_group_ids %}
            {% elif request.user.department.id == 7 %}
                {% include 'summary-card-content.html' with dept=information_systems dept_name='Information Systems' dept_id=7 group_ids=information_systems_group_ids %}
            {% elif request.user.department.id == 8 %}
                {% include 'summary-card-content.html' with dept=legal_risk dept_name='Legal & Risk' dept_id=8 group_ids=legal_risk_group_ids %}
            {% elif request.user.department.id == 9 %}
                {% include 'summary-card-content.html' with dept=human_capital dept_name='Human Capital' dept_id=9 group_ids=human_capital_group_ids %}
            {% elif request.user.department.id == 10 %}
                {% include 'summary-card-content.html' with dept=sales_marketing dept_name='Sales & Marketing' dept_id=10 group_ids=sales_marketing_group_ids %}
            {% elif request.user.department.id == 11 %}
                {% include 'summary-card-content.html' with dept=admin dept_name='Administration' dept_id=11 group_ids=admin_group_ids %}
            {% elif request.user.department.id == 12 %}
                {% include 'summary-card-content.html' with dept=finance dept_name='Finance' dept_id=12 group_ids=finance_group_ids %}
            {% endif %}
            {% endif %}
        </section>

    </div>
{% endblock %}
{% block extra-scripts %}

{% endblock %}