{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><h1 class="title">
                           CAPEX Dashboard
                        </h1></div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p class="mx-2"><span><input type="checkbox" class="mt-1 has-text-weight-bold"
                                                         id="non-zero"> Non-zero budget numbers</span>
                            </p>
                                <div class="buttons is-right">
                                    <button class="button has-text-black " id="toggleCards" style="border: 0px">
                                        <span>Toggle</span><span class="icon"><i
                                            class="mdi mdi-toggle-switch-outline mdi-24px"></i></span></button>
                                    <button data-target="upload-modal"
                                            class=" button  jb-modal has-text-black" style="border: 0px">
                                        <span>Upload</span>
                                        <span class="icon"><i class="mdi mdi-upload"></i></span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-main-section ">
            <div class="tile is-ancestor" id="dashboard-cards">
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Total Budget
                                    </h1>
                                        <h6 class="title">
                                            ZMW {{ total }}
                                        </h6>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-primary"><i
                                            class="mdi mdi-cash-multiple mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Amount Depleted
                                    </h1>
                                        <h3 class="title">
                                            ZMW 0
                                        </h3>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                                            class="mdi mdi-cart-outline mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Variance
                                    </h1>
                                        <h3 class="title">
                                            0 %
                                        </h3>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                                            class="mdi mdi-chart-line mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card has-table has-mobile-sort-spaced">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                            Asset Accounts
                        </p>

                        <select class="select my-2" style="border:0" name="budget_set"
                                id="navigateToBudget">

                            <option value="1" {% if budget_set == 'Budget 1' %} selected {% endif %}>Budget Set
                                1
                            </option>
                            <option value="2" {% if budget_set == 'Budget 2' %} selected {% endif %}>Budget Set
                                2
                            </option>
                            <option value="3" {% if budget_set == 'Budget 3' %} selected {% endif %}>Budget Set 3
                            </option>

                        </select>
                        <a class="card-header-icon accordion-button">
                            <span class="icon"><i class="mdi mdi-plus-thick mdi-18px"></i></span>
                        </a>

                    </header>
                    <div class="card-content parent-accordion-content is-hidden ">
                        {% if asset %}
                            <div class="level " style="margin-top:1.5rem; font-weight:bold;">
                                <div class="level-left">
                                    <p class="mx-2">Assets Total : ZMW {{ asset|calculate_sum }}</p>

                                </div>
                                <div class="level-right">
                                    <p class="mx-2">Budget Status: </p>
                                    <p class="button is-narrow is-small {% if asset|budget_active_filter == False %} is-danger-passive {% else %} is-info {% endif %} is-outlined mr-2"
                                       style="border-radius: 50px">{% if asset|budget_active_filter == False %}
                                        Inactive{% else %} Active {% endif %}</p>
                                    <a href="{% url 'budgets:department-settings' asset|get_dept %}"
                                       class="button is-narrow is-small {% if asset|budget_status_filter == False %}is-danger {% else %} is-info {% endif %}is-outlined mr-2"
                                       style="border-radius: 50px">{% if asset|budget_status_filter == False %}
                                        Incomplete {% else %} Complete{% endif %}</a>

                                </div>
                            </div>
                            <div class="table-wrapper has-mobile-cards"
                                 style="overflow-y:auto;max-height:400px;">
                                <table class="table sticky-header is-fullwidth is-striped is-hoverable is-sortable is-narrow  "
                                       role="grid">
                                    <thead>

                                    <tr>
                                        <th>Account ID</th>
                                        <th>Account Name</th>
                                        <th>Currency</th>
                                        <th>Year</th>
                                        <th>Total</th>

                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th role="columnheader">May</th>
                                        <th role="columnheader">Jun</th>
                                        <th role="columnheader">Jul</th>
                                        <th role="columnheader">Aug</th>
                                        <th role="columnheader">Sep</th>
                                        <th role="columnheader">Oct</th>
                                        <th role="columnheader">Nov</th>
                                        <th role="columnheader">Dec</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="budget-table-body" role="rowgroup">

                                    {% for acc in asset %}
                                        {% if acc %}
                                            <tr role="row" data-total="{{ acc.total }}">
                                                <td data-label="Account id">{{ acc.account.acctfmttd }}</td>
                                                <td data-label="Account name"
                                                    style="width: 10%;">{{ acc.account.acctdesc }}</td>
                                                <td>{{ acc.currency.currency }}</td>
                                                <td>{{ acc.year }}</td>
                                                <td data-label="Budget Total">{{ acc.total }}</td>
                                                <td data-label="Jan">{{ acc.period1 }}</td>
                                                <td data-label="Feb">{{ acc.period2 }}
                                                </td>
                                                <td data-label="Mar">{{ acc.period3 }}
                                                </td>
                                                <td data-label="Apr">{{ acc.period4 }}
                                                </td>
                                                <td data-label="May">{{ acc.period5 }}
                                                </td>
                                                <td data-label="Jun">{{ acc.period6 }}
                                                </td>
                                                <td data-label="Jul">{{ acc.period7 }}
                                                </td>
                                                <td data-label="Aug">{{ acc.period8 }}
                                                </td>
                                                <td data-label="Sep">{{ acc.period9 }}
                                                </td>
                                                <td data-label="Oct">{{ acc.period10 }}
                                                </td>
                                                <td data-label="Nov">{{ acc.period11 }}
                                                </td>
                                                <td data-label="Dec">{{ acc.period12 }}
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-right">
                                                        <a {% if assets|budget_active_filter != False %}
                                                            href="{% url 'budgets:update' acc.id %} "{% else %}{% endif %}
                                                            class="button is-small is-light" type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-file-edit"></i></span>
                                                        </a>
                                                        <a  {% if assets|budget_active_filter != False %}
                                                            href="{% url 'budgets:clear-budget' acc.id %}" {% else %}{% endif %}
                                                            class="button is-small is-danger-passive "
                                                            data-target="sample-modal"
                                                            type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-trash-can"></i></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr role="row">Budget Already Uploaded</tr>
                                        {% endif %}


                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card has-table has-mobile-sort-spaced">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                            Liability Accounts
                        </p>
                        <select class="select my-2" style="border:0" name="budget_set"
                                onchange="navigateToBudget(this.value)">
                            <option value="1" {% if budget_set == 'Budget 1' %} selected {% endif %}>Budget Set
                                1
                            </option>
                            <option value="2" {% if budget_set == 'Budget 2' %} selected {% endif %}>Budget Set
                                2
                            </option>
                            <option value="3" {% if budget_set == 'Budget 3' %} selected {% endif %}>Budget Set 3
                            </option>

                        </select>
                        <a class="card-header-icon accordion-button">
                            <span class="icon"><i class="mdi mdi-plus-thick mdi-18px"></i></span>
                        </a>

                    </header>
                    <div class="card-content parent-accordion-content is-hidden ">
                        {% if liability %}
                            <div class="level " style="margin-top:1.5rem; font-weight:bold;">
                                <div class="level-left">
                                    <p class="mx-2">Liabilities Total : ZMW {{ liability|calculate_sum }}</p>

                                </div>
                                <div class="level-right">
                                    <p class="mx-2">Budget Status:</p>
                                    <p class="button is-narrow is-small {% if liability|budget_active_filter == False %} is-danger-passive {% else %} is-info {% endif %} is-outlined mr-2"
                                       style="border-radius: 50px">{% if liability|budget_active_filter == False %}
                                        Inactive{% else %} Active {% endif %}</p>
                                    <a href="{% url 'budgets:department-settings' liability|get_dept %}"
                                       class="button is-narrow is-small {% if liability|budget_status_filter == False %} is-danger {% else %}is-primary {% endif %}is-outlined"
                                       style="border-radius: 50px">{% if liability|budget_status_filter == False %}
                                        Incomplete {% else %} Complete{% endif %}</a>
                                </div>
                            </div>
                            <div class="table-wrapper has-mobile-cards"
                                 style="overflow-y:auto;max-height:400px;">
                                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                                       role="grid">
                                    <thead>
                                    <tr>
                                        <th>Account ID</th>
                                        <th>Account Name</th>
                                        <th>Currency</th>
                                        <th>Year</th>
                                        <th>Total</th>

                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th role="columnheader">May</th>
                                        <th role="columnheader">Jun</th>
                                        <th role="columnheader">Jul</th>
                                        <th role="columnheader">Aug</th>
                                        <th role="columnheader">Sep</th>
                                        <th role="columnheader">Oct</th>
                                        <th role="columnheader">Nov</th>
                                        <th role="columnheader">Dec</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="budget-table-body" role="rowgroup">
                                    {% for acc in liability %}
                                        {% if acc %}
                                            <tr role="row" data-total="{{ acc.total }}">
                                                <td data-label="Account id">{{ acc.account.acctfmttd }}</td>
                                                <td data-label="Account name"
                                                    style="width: 10%;">{{ acc.account.acctdesc }}</td>
                                                <td>{{ acc.currency.currency }}</td>
                                                <td>{{ acc.year }}</td>
                                                <td data-label="Budget Total">{{ acc.total }}</td>
                                                <td data-label="Jan">{{ acc.period1 }}</td>
                                                <td data-label="Feb">{{ acc.period2 }}
                                                </td>
                                                <td data-label="Mar">{{ acc.period3 }}
                                                </td>
                                                <td data-label="Apr">{{ acc.period4 }}
                                                </td>
                                                <td data-label="May">{{ acc.period5 }}
                                                </td>
                                                <td data-label="Jun">{{ acc.period6 }}
                                                </td>
                                                <td data-label="Jul">{{ acc.period7 }}
                                                </td>
                                                <td data-label="Aug">{{ acc.period8 }}
                                                </td>
                                                <td data-label="Sep">{{ acc.period9 }}
                                                </td>
                                                <td data-label="Oct">{{ acc.period10 }}
                                                </td>
                                                <td data-label="Nov">{{ acc.period11 }}
                                                </td>
                                                <td data-label="Dec">{{ acc.period12 }}
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-right">
                                                        <a {% if liability|budget_active_filter != False %}
                                                            href="{% url 'budgets:update' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-light" type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-file-edit"></i></span>
                                                        </a>
                                                        <a {% if liability|budget_active_filter != False %}
                                                            href="{% url 'budgets:clear-budget' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-danger-passive "
                                                            data-target="sample-modal"
                                                            type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-trash-can"></i></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr role="row">
                                                Budget Already Uploaded
                                            </tr>
                                        {% endif %}
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card has-table has-mobile-sort-spaced">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                            Equity Accounts
                        </p>
                        <select class="select my-2" style="border:0" name="budget_set"
                                onchange="navigateToBudget(this.value)">

                            <option value="1" {% if budget_set == 'Budget 1' %} selected {% endif %}>Budget Set
                                1
                            </option>
                            <option value="2" {% if budget_set == 'Budget 2' %} selected {% endif %}>Budget Set
                                2
                            </option>
                            <option value="3" {% if budget_set == 'Budget 3' %} selected {% endif %}>Budget Set 3
                            </option>

                        </select>
                        <a class="card-header-icon accordion-button">
                            <span class="icon"><i class="mdi mdi-plus-thick mdi-18px"></i></span>
                        </a>

                    </header>
                    <div class="card-content parent-accordion-content is-hidden ">
                        {% if equity %}
                            <div class="level " style="margin-top:1.5rem; font-weight:bold;">
                                <div class="level-left">
                                    <p class="mx-2">Equity Total : ZMW {{ equity|calculate_sum }}</p>

                                </div>
                                <div class="level-right">
                                    <p class="mx-2">Budget Status:</p>
                                    <p class="button is-narrow is-small {% if equity|budget_active_filter == False %} is-danger-passive {% else %} is-info {% endif %} is-outlined mr-2"
                                       style="border-radius: 50px">{% if equity|budget_active_filter == False %}
                                        Inactive{% else %} Active {% endif %}</p>
                                    <a href="{% url 'budgets:department-settings' equity|get_dept %}"
                                       class="button is-narrow is-small {% if equity|budget_status_filter == False %} is-danger {% else %}is-primary {% endif %}is-outlined"
                                       style="border-radius: 50px">{% if equity|budget_status_filter == False %}
                                        Incomplete {% else %} Complete{% endif %}</a>
                                </div>
                            </div>
                            <div class="table-wrapper has-mobile-cards"
                                 style="overflow-y:auto;max-height:400px;">
                                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                                       role="grid">
                                    <thead>
                                    <tr>
                                        <th>Account ID</th>
                                        <th>Account Name</th>
                                        <th>Currency</th>
                                        <th>Year</th>
                                        <th>Total</th>
                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th role="columnheader">May</th>
                                        <th role="columnheader">Jun</th>
                                        <th role="columnheader">Jul</th>
                                        <th role="columnheader">Aug</th>
                                        <th role="columnheader">Sep</th>
                                        <th role="columnheader">Oct</th>
                                        <th role="columnheader">Nov</th>
                                        <th role="columnheader">Dec</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="budget-table-body" role="rowgroup">
                                    {% for acc in equity %}
                                        {% if acc %}
                                            <tr role="row" data-total="{{ acc.total }}">
                                                <td data-label="Account id">{{ acc.account.acctfmttd }}</td>
                                                <td data-label="Account name"
                                                    style="width: 10%;">{{ acc.account.acctdesc }}</td>
                                                <td>{{ acc.currency.currency }}</td>
                                                <td>{{ acc.year }}</td>
                                                <td data-label="Budget Total">{{ acc.total }}</td>
                                                <td data-label="Jan">{{ acc.period1 }}</td>
                                                <td data-label="Feb">{{ acc.period2 }}
                                                </td>
                                                <td data-label="Mar">{{ acc.period3 }}
                                                </td>
                                                <td data-label="Apr">{{ acc.period4 }}
                                                </td>
                                                <td data-label="May">{{ acc.period5 }}
                                                </td>
                                                <td data-label="Jun">{{ acc.period6 }}
                                                </td>
                                                <td data-label="Jul">{{ acc.period7 }}
                                                </td>
                                                <td data-label="Aug">{{ acc.period8 }}
                                                </td>
                                                <td data-label="Sep">{{ acc.period9 }}
                                                </td>
                                                <td data-label="Oct">{{ acc.period10 }}
                                                </td>
                                                <td data-label="Nov">{{ acc.period11 }}
                                                </td>
                                                <td data-label="Dec">{{ acc.period12 }}
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-right">
                                                        <a {% if equity|budget_active_filter != False %}
                                                            href="{% url 'budgets:update' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-light" type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-file-edit"></i></span>
                                                        </a>
                                                        <a {% if equity|budget_active_filter != False %}
                                                            href="{% url 'budgets:clear-budget' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-danger-passive "
                                                            data-target="sample-modal"
                                                            type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-trash-can"></i></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr role="row">
                                                Budget Already Uploaded
                                            </tr>
                                        {% endif %}
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card has-table has-mobile-sort-spaced">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                            Clearing Accounts
                        </p>
                        <select class="select my-2" style="border:0" name="budget_set"
                                onchange="navigateToBudget(this.value)">

                            <option value="1" {% if budget_set == 'Budget 1' %} selected {% endif %}>Budget Set
                                1
                            </option>
                            <option value="2" {% if budget_set == 'Budget 2' %} selected {% endif %}>Budget Set
                                2
                            </option>
                            <option value="3" {% if budget_set == 'Budget 3' %} selected {% endif %}>Budget Set 3
                            </option>

                        </select>
                        <a class="card-header-icon accordion-button">
                            <span class="icon"><i class="mdi mdi-plus-thick mdi-18px"></i></span>
                        </a>

                    </header>
                    <div class="card-content parent-accordion-content is-hidden ">
                        {% if clearing %}
                            <div class="level " style="margin-top:1.5rem; font-weight:bold;">
                                <div class="level-left">
                                    <p class="mx-2">Clearing Total : ZMW {{ clearing|calculate_sum }}</p>

                                </div>
                                <div class="level-right">

                                    <p class="mx-2">Budget Status:</p>
                                    <p class="button is-narrow is-small {% if clearing|budget_active_filter == False %} is-danger-passive {% else %} is-info {% endif %} is-outlined mr-2"
                                       style="border-radius: 50px">{% if clearing|budget_active_filter == False %}
                                        Inactive{% else %} Active {% endif %}</p>
                                    <a href="{% url 'budgets:department-settings' clearing|get_dept %}"
                                       class="button is-narrow is-small {% if clearing|budget_status_filter == False %} is-danger {% else %}is-primary {% endif %}is-outlined"
                                       style="border-radius: 50px">{% if clearing|budget_status_filter == False %}
                                        Incomplete {% else %} Complete{% endif %}</a>
                                </div>
                            </div>
                            <div class="table-wrapper has-mobile-cards"
                                 style="overflow-y:auto;max-height:400px;">
                                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                                       role="grid">
                                    <thead>
                                    <tr>
                                        <th>Account ID</th>
                                        <th>Account Name</th>
                                        <th>Currency</th>
                                        <th>Year</th>
                                        <th>Total</th>
                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th role="columnheader">May</th>
                                        <th role="columnheader">Jun</th>
                                        <th role="columnheader">Jul</th>
                                        <th role="columnheader">Aug</th>
                                        <th role="columnheader">Sep</th>
                                        <th role="columnheader">Oct</th>
                                        <th role="columnheader">Nov</th>
                                        <th role="columnheader">Dec</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="budget-table-body" role="rowgroup">
                                    {% for acc in clearing %}
                                        {% if acc %}
                                            <tr role="row" data-total="{{ acc.total }}">
                                                <td data-label="Account id">{{ acc.account.acctfmttd }}</td>
                                                <td data-label="Account name"
                                                    style="width: 10%;">{{ acc.account.acctdesc }}</td>
                                                <td>{{ acc.currency.currency }}</td>
                                                <td>{{ acc.year }}</td>
                                                <td data-label="Budget Total">{{ acc.total }}</td>
                                                <td data-label="Jan">{{ acc.period1 }}</td>
                                                <td data-label="Feb">{{ acc.period2 }}
                                                </td>
                                                <td data-label="Mar">{{ acc.period3 }}
                                                </td>
                                                <td data-label="Apr">{{ acc.period4 }}
                                                </td>
                                                <td data-label="May">{{ acc.period5 }}
                                                </td>
                                                <td data-label="Jun">{{ acc.period6 }}
                                                </td>
                                                <td data-label="Jul">{{ acc.period7 }}
                                                </td>
                                                <td data-label="Aug">{{ acc.period8 }}
                                                </td>
                                                <td data-label="Sep">{{ acc.period9 }}
                                                </td>
                                                <td data-label="Oct">{{ acc.period10 }}
                                                </td>
                                                <td data-label="Nov">{{ acc.period11 }}
                                                </td>
                                                <td data-label="Dec">{{ acc.period12 }}
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-right">
                                                        <a {% if clearing|budget_active_filter != False %}
                                                            href="{% url 'budgets:update' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-light" type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-file-edit"></i></span>
                                                        </a>
                                                        <a {% if clearing|budget_active_filter != False %}
                                                            href="{% url 'budgets:clear-budget' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-danger-passive "
                                                            data-target="sample-modal"
                                                            type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-trash-can"></i></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr role="row">
                                                Budget Already Uploaded
                                            </tr>
                                        {% endif %}

                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card has-table has-mobile-sort-spaced">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                            Income Accounts
                        </p>
                        <select class="select my-2" style="border:0" name="budget_set"
                                onchange="navigateToBudget(this.value)">

                            <option value="1" {% if budget_set == 'Budget 1' %} selected {% endif %}>Budget Set
                                1
                            </option>
                            <option value="2" {% if budget_set == 'Budget 2' %} selected {% endif %}>Budget Set
                                2
                            </option>
                            <option value="3" {% if budget_set == 'Budget 3' %} selected {% endif %}>Budget Set 3
                            </option>

                        </select>
                        <a class="card-header-icon accordion-button">
                            <span class="icon"><i class="mdi mdi-plus-thick mdi-18px"></i></span>
                        </a>

                    </header>
                    <div class="card-content parent-accordion-content is-hidden ">
                        {% if income %}
                            <div class="level " style="margin-top:1.5rem; font-weight:bold;">
                                <div class="level-left">
                                    <p class="mx-2">Income Total : ZMW {{ income|calculate_sum }}</p>

                                </div>
                                <div class="level-right">

                                    <p class="mx-2">Budget Status:</p>
                                    <p class="button is-narrow is-small {% if income|budget_active_filter == False %} is-danger-passive {% else %} is-info {% endif %} is-outlined mr-2"
                                       style="border-radius: 50px">{% if income|budget_active_filter == False %}
                                        Inactive{% else %} Active {% endif %}</p>
                                    <a href="{% url 'budgets:department-settings' income|get_dept %}"
                                       class="button is-narrow is-small {% if income|budget_status_filter == False %} is-danger {% else %}is-primary {% endif %}is-outlined"
                                       style="border-radius: 50px">{% if income|budget_status_filter == False %}
                                        Incomplete {% else %} Complete{% endif %}</a>

                                </div>
                            </div>
                            <div class="table-wrapper has-mobile-cards"
                                 style="overflow-y:auto;max-height:400px;">
                                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                                       role="grid">
                                    <thead>
                                    <tr>
                                        <th>Account ID</th>
                                        <th>Account Name</th>
                                        <th>Currency</th>
                                        <th>Year</th>
                                        <th>Total</th>
                                        <th>Jan</th>
                                        <th>Feb</th>
                                        <th>Mar</th>
                                        <th>Apr</th>
                                        <th role="columnheader">May</th>
                                        <th role="columnheader">Jun</th>
                                        <th role="columnheader">Jul</th>
                                        <th role="columnheader">Aug</th>
                                        <th role="columnheader">Sep</th>
                                        <th role="columnheader">Oct</th>
                                        <th role="columnheader">Nov</th>
                                        <th role="columnheader">Dec</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody class="budget-table-body" role="rowgroup">
                                    {% for acc in income %}
                                        {% if acc %}
                                            <tr role="row" data-total="{{ acc.total }}">
                                                <td data-label="Account id">{{ acc.account.acctfmttd }}</td>
                                                <td data-label="Account name"
                                                    style="width: 10%;">{{ acc.account.acctdesc }}</td>
                                                <td>{{ acc.year }}</td>
                                                <td>{{ acc.currency.currency }}</td>
                                                <td data-label="Budget Total">{{ acc.total }}</td>
                                                <td data-label="Jan">{{ acc.period1 }}</td>
                                                <td data-label="Feb">{{ acc.period2 }}
                                                </td>
                                                <td data-label="Mar">{{ acc.period3 }}
                                                </td>
                                                <td data-label="Apr">{{ acc.period4 }}
                                                </td>
                                                <td data-label="May">{{ acc.period5 }}
                                                </td>
                                                <td data-label="Jun">{{ acc.period6 }}
                                                </td>
                                                <td data-label="Jul">{{ acc.period7 }}
                                                </td>
                                                <td data-label="Aug">{{ acc.period8 }}
                                                </td>
                                                <td data-label="Sep">{{ acc.period9 }}
                                                </td>
                                                <td data-label="Oct">{{ acc.period10 }}
                                                </td>
                                                <td data-label="Nov">{{ acc.period11 }}
                                                </td>
                                                <td data-label="Dec">{{ acc.period12 }}
                                                </td>
                                                <td class="is-actions-cell">
                                                    <div class="buttons is-right">
                                                        <a {% if income|budget_active_filter != False %}
                                                            href="{% url 'budgets:update' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-light" type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-file-edit"></i></span>
                                                        </a>
                                                        <a {% if income|budget_active_filter != False %}
                                                            href="{% url 'budgets:clear-budget' acc.id %}" {% else %} {% endif %}
                                                            class="button is-small is-danger-passive "
                                                            data-target="sample-modal"
                                                            type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-trash-can"></i></span>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr role="row">Budget Already Uploaded</tr>
                                        {% endif %}

                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>


        {% include 'partials/post-modal.html' %}
{% endblock %}
{% block extra-scripts %}
{% endblock %}