{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><h1 class="title">
                           CAPEX Dashboard
                        </h1></div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p class="mx-2"><span><input type="checkbox" class="mt-1 has-text-weight-bold"
                                                         id="non-zero"> Non-zero budget numbers</span>
                            </p>
                                <div class="buttons is-right">
                                    <button class="button has-text-black " id="toggleCards" style="border: 0px">
                                        <span>Toggle</span><span class="icon"><i
                                            class="mdi mdi-toggle-switch-outline mdi-24px"></i></span></button>
                                    <button data-target="upload-modal"
                                            class=" button  jb-modal has-text-black" style="border: 0px">
                                        <span>Upload</span>
                                        <span class="icon"><i class="mdi mdi-upload"></i></span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-main-section ">
            <div class="tile is-ancestor" id="dashboard-cards">
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Total Budget
                                    </h1>
                                        <h6 class="title">
                                            ZMW {{ total }}
                                        </h6>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-primary"><i
                                            class="mdi mdi-cash-multiple mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Amount Depleted
                                    </h1>
                                        <h3 class="title">
                                            ZMW 0
                                        </h3>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                                            class="mdi mdi-cart-outline mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Variance
                                    </h1>
                                        <h3 class="title">
                                            0 %
                                        </h3>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                                            class="mdi mdi-chart-line mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'department-card-content.html' with dept=asset dept_name='Assets' dept_id=13%}
            {% include 'department-card-content.html' with dept=liability dept_name='Liabilities' dept_id=14%}
            {% include 'department-card-content.html' with dept=equity dept_name='Equity' dept_id=15%}
            {% include 'department-card-content.html' with dept=clearing dept_name='Clearing' dept_id=16%}
            {% include 'department-card-content.html' with dept=income dept_name='Income' dept_id=17%}


        {% include 'partials/post-modal.html' %}

        </section>
    </div>
{% endblock %}
{% block extra-scripts %}
{% endblock %}