{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h1 class="title">
                           CAPEX Budget {% if status == True %} Adjustments {% else %} Input {% endif %}
                        </h1></div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p class="mx-2"><span><input type="checkbox" class="mt-1 has-text-weight-bold"
                                                         id="non-zero"> Non-zero budget numbers</span>
                            </p>
                                <div class="buttons is-right">
                                    <button data-target="upload-modal"
                                            class=" button is-small jb-modal has-text-black" style="border: 0px">
                                      {% if status == True %}  <span>Save Changes</span>  {% else %}<span>Upload</span>{% endif %}
                                        <span class="icon"><i class="mdi mdi-upload"></i></span>
                                    </button>
                                    
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-main-section ">
            {% include 'department-card-content.html' with dept=asset dept_name='Assets' dept_id=13%}


        {% include 'partials/post-modal.html' %}

        </section>
    </div>
{% endblock %}
{% block extra-scripts %}
{% endblock %}