{% load filters %}
{% load static %}
<div class="card has-table has-mobile-sort-spaced">
    <header class="card-header">
        <p class="card-header-title" >
            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
            {{ dept_name }} Accounts
        </p>

        <a class="jb-modal mr-1 mt-3" data-target="account-search-modal-{{ dept_name }}"><span
                class="mdi mdi-search-web mdi-24px has-text-black"></span></a>

        <a class="card-header-icon accordion-button">
            <span class="icon"><i class="mdi mdi-plus-thick mdi-18px"></i></span>
        </a>

    </header>
    <div class="card-content parent-accordion-content {% if request.user.role == '002' %}is-hidden{% else %} {% endif %}" data-department="{{ dept_name }}">
   
        {% if dept %}
            <div class="level " style="margin-top:1.5rem; font-weight:bold;">
                <div class="level-left">
                    <p class="mx-2">{{ dept_name }} Total : ZMW {{ dept|calculate_sum }}</p>

                </div>
                <div class="level-right">
                    <p class="mx-2">Budget Status:</p>
                    <p class="button is-narrow is-small {% if dept|budget_active_filter == False %} is-danger-passive {% else %} is-info {% endif %} is-outlined mr-2"
                       style="border-radius: 50px">{% if dept|budget_active_filter == False %}
                        Inactive{% else %} Active {% endif %}</p>
                    <a href="{% url 'budgets:department-settings' dept|get_dept %}"
                       class="button is-narrow is-small {% if dept|budget_status_filter == False %} is-danger {% else %}is-primary {% endif %}is-outlined"
                       style="border-radius: 50px">{% if dept|budget_status_filter == False %}
                        Incomplete {% else %} Complete{% endif %}</a>
                </div>
            </div>
           
            <div class="table-wrapper has-mobile-cards"
                 style="overflow:auto;max-height:400px;">
                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-narrow "
                       role="grid">
                    <thead>
                    <tr>
                        <th>Account ID</th>
                        <th>Account Name</th>
                        <th>Currency</th>
                        <th>Year</th>
                        <th>Total</th>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th role="columnheader">May</th>
                        <th role="columnheader">Jun</th>
                        <th role="columnheader">Jul</th>
                        <th role="columnheader">Aug</th>
                        <th role="columnheader">Sep</th>
                        <th role="columnheader">Oct</th>
                        <th role="columnheader">Nov</th>
                        <th role="columnheader">Dec</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody class="budget-table-body" id="table-body-{{ dept_name }}" role="rowgroup">
                    <tr class="has-text-weight-bold p-2">
                        <td data-label="Account id">Totals</td>
                        <td data-label="Account name"
                            ></td>
                        <td></td>
                        <td></td>
                        <td data-label="Budget Total">{{ dept|calculate_sum }}</td>
                        <td data-label="Jan">{{ dept|calculate_sum_month:1 }}</td>
                        <td data-label="Feb">{{ dept|calculate_sum_month:2 }}
                        </td>
                        <td data-label="Mar">{{ dept|calculate_sum_month:3 }}
                        </td>
                        <td data-label="Apr">{{ dept|calculate_sum_month:4 }}
                        </td>
                        <td data-label="May">{{ dept|calculate_sum_month:5 }}
                        </td>
                        <td data-label="Jun">{{ dept|calculate_sum_month:6 }}
                        </td>
                        <td data-label="Jul">{{ dept|calculate_sum_month:7 }}
                        </td>
                        <td data-label="Aug">{{ dept|calculate_sum_month:8 }}
                        </td>
                        <td data-label="Sep">{{ dept|calculate_sum_month:9 }}
                        </td>
                        <td data-label="Oct">{{ dept|calculate_sum_month:10 }}
                        </td>
                        <td data-label="Nov">{{ dept|calculate_sum_month:11 }}
                        </td>
                        <td data-label="Dec">{{ dept|calculate_sum_month:12 }}
                        </td>
                        <td class="is-actions-cell">
                            <div class="buttons is-right">
                                <a>
                                    <span class="icon"></span>
                                </a>
                                <a>
                                    <span class="icon"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% for acc in dept %}
                        {% if acc %}
                            <tr role="row" data-total="{{ acc.total }}">
                                <td data-label="Account id">{{ acc.account.acctfmttd }}</td>
                                <td data-label="Account name"
                                    style="width: 10%;">{{ acc.account.acctdesc }}</td>
                                <td>{{ acc.currency.currency }}</td>
                                <td>{{ acc.year }}</td>
                                <td data-label="Budget Total">{{ acc.total }}</td>
                                <td data-label="Jan">{{ acc.netperd1 }}</td>
                                <td data-label="Feb">{{ acc.netperd2 }}
                                </td>
                                <td data-label="Mar">{{ acc.netperd3 }}
                                </td>
                                <td data-label="Apr">{{ acc.netperd4 }}
                                </td>
                                <td data-label="May">{{ acc.netperd5 }}
                                </td>
                                <td data-label="Jun">{{ acc.netperd6 }}
                                </td>
                                <td data-label="Jul">{{ acc.netperd7 }}
                                </td>
                                <td data-label="Aug">{{ acc.netperd8 }}
                                </td>
                                <td data-label="Sep">{{ acc.netperd9 }}
                                </td>
                                <td data-label="Oct">{{ acc.netperd10 }}
                                </td>
                                <td data-label="Nov">{{ acc.netperd11 }}
                                </td>
                                <td data-label="Dec">{{ acc.netperd12 }}
                                </td>
                                <td class="is-actions-cell">
                                    <div class="buttons is-right">
                                        <a {% if dept|budget_active_filter != False %}
                                            href="{% url 'budgets:update' acc.id %}" {% else %} {% endif %}
                                            class="button is-small is-light" type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-file-edit"></i></span>
                                        </a>
                                        <a 
                                            class="button is-small is-danger-passive jb-modal"
                                            data-target="delete-modal"
                                            type="button">
                                                                <span class="icon"><i
                                                                        class="mdi mdi-trash-can"></i></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr role="row">
                                Budget Already Uploaded
                            </tr>
                        {% endif %}
                        {% include 'partials/delete-modal.html' %}
                    {% endfor %}


                    </tbody>
                </table>
                {% include 'partials/department-paginator.html' with dept=dept dept_name=dept_name %}
            </div>
        {% endif %}
        
    </div>
</div>
{% include 'partials/account-search-modal.html' with dept=dept dept_name=dept_name%}
