{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% load  widget_tweaks %}
{% block content %}
    <div id="app">
        <section class="section is-title-bar">

        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a href="{% url 'budgets:update' object.id %}" ><h1 class="title">
                            Update Budget
                            </h1></a><i class="mdi mdi-chevron-right mdi-24px"></i><a href="{% url 'budgets:edit-line' obj.id %}" ><h1 class="title">
                            Edit Line
                        </h1></a>
                        </div>
                    </div>
                    <div class="level-right" style="display: none;">
                        <div class="level-item"></div>
                    </div>
                </div>
            </div>
        </section>
            <section class="section is-main-section">
                <div class="card">

                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="mdi mdi-ballot"></i></span>
                           Edit {{object.account.acctdesc}} budget line
                        </p>
                        
                                <div class="select is-left is-small">

                                    <select class="m-1 has-text-centered" id="entry_type"
                                            data-object-id="{{ object.id }}"
                                            name="entry_type" style="font-weight: 700">
                                        <option disabled selected style="display: none ;">Choose Editing Type</option>
                                        <option class="jb-modal" data-target="form-settings-modal" value="formula">Edit
                                            By
                                            Formula
                                        </option>
                                        <option value="manual">Edit By Month</option>

                                    </select>
                                </div>
                                
                        
                    </header>
                    <form method="POST" action="{% url 'budgets:edit-line' object_id=obj.id %}">
                      
                        {% csrf_token %}
                        <div class="card-content">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Account Name</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input overall" name="account_name" type="text"
                                                   value="{{ object.account.acctdesc }}"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Account ID</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input overall" name="account_id" type="text"
                                                   value="{{ object.account.acctid }}"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Item Description</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <p class="control is-expanded has-icons-left">
                                       
                                                
                                                {% render_field form.item_description class="input overall" %}
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-file-edit"></i></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div  id="add-line" class="is-hidden">
                            <div class="field is-horizontal ">
                                <div class="field-label is-normal">
                                    <label class="label">Currency</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="select is-fullwidth">
                                            <p class="control is-expanded has-icons-left">
                                            
                                                <select name="currency" id="currency" class="overall">
                                                    {% for cur in currency %}
                                                        <option value="{{ cur.id }}" data-rate="{{ cur.rate }}" {% if cur.id == form.initial.currency %}selected{% endif %}>{{ cur.currency }}</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="field-label is-normal">
                                        <label class="label">Assumptions</label>
                                    </div>
                                    <div class="field" style="width:23%">

                                        <div class="select is-fullwidth">
                                            <select id="assumptions-select" name="assumption" class="overall">
                                                {% for asmp in assumptions %}

                                                    <option id="{{ asmp.id }}"
                                                            data-value="{{ asmp.rate }}" {% if asmp.id == form.initial.assumption %}selected{% endif %}>{{ asmp.factor }}</option>
                                                {% endfor %}
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 1.5rem">
                            <div id="formula-div">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">No of Staff</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                {% render_field form.staff class="input formula-input" %}
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-account-group-outline"></i></span>
                                            </p>
                                        </div>

                                        <div class="field-label is-normal">
                                            <label class="label">Factor</label>
                                        </div>

                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                {% render_field form.factor class="input formula-input" %}
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-calculator-variant"></i></span>
                                            </p>

                                        </div>

                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Usage/Day</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                {% render_field form.usage class="input formula-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-calculator-variant"></i></span>
                                            </p>

                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">Rate</label>
                                        </div>

                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                {% render_field form.rate class="input formula-input" id='rate'%}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-calculator-variant"></i></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin:0.5rem">
                            <div id="manual-div">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">January</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                 {% render_field form.netperd1 class="input manual-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">February</label>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left has-icons-right">
                                                {% render_field form.netperd2 class="input manual-input" %}
                                                
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">March</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                            {% render_field form.netperd3 class="input manual-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">April</label>
                                        </div>
                                        <div class="field">

                                            <p class="control is-expanded has-icons-left has-icons-right">
                                              {% render_field form.netperd4 class="input manual-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">May</label>
                                    </div>
                                    <div class="field-body">

                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                              {% render_field form.netperd5 class="input manual-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">Jun</label>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left has-icons-right">
                                            {% render_field form.netperd6 class="input manual-input" %}
                                                
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">July</label>
                                    </div>
                                    <div class="field-body">

                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                            {% render_field form.netperd7 class="input manual-input" %}
                                              
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">August</label>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left has-icons-right">
                                            {% render_field form.netperd8 class="input manual-input" %}
                                             
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">September</label>
                                    </div>
                                    <div class="field-body">

                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                              {% render_field form.netperd9 class="input manual-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">October</label>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left has-icons-right">
                                              {% render_field form.netperd10 class="input manual-input" %}

                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">November</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                            {% render_field form.netperd11 class="input manual-input" %}
                                              
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                        <div class="field-label is-normal">
                                            <label class="label">December</label>
                                        </div>
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left has-icons-right">
                                            {% render_field form.netperd12 class="input manual-input" %}
                                               
                                                <span class="icon is-small is-left"><i
                                                        class="mdi mdi-cash-multiple"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 0.5rem">
                        </div>
                            <div class="field level">
                                <div class="field-label level-left">
                                    <!-- Left empty for spacing -->
                                </div>
                                <div class="field-body level-right">
                                    <div class="field">
                                        <div class="field is-grouped">
                                            <div class="control">
                                                <button type="button" id="submitButton" class="button is-info" data-objectIdentification={{ object.id }} disabled>
                                                    <span>Update</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                
</div>
            </section>
            {% include 'partials/account-search-modal.html' %}
            {% include 'partials/entry-type-modal.html' %}

      
    </div>



{% endblock %}


{% block extra-scripts %}
{% endblock %}