<footer class="footer mt-6 " >
    <div class="container-fluid">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    © 2024 Mupuma Management Solutions
                </div>
                <div class="level-item">

                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="logo">
                        <a href="https://mupuma.co.zm/">Visit us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
