{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><h1 class="title">
                            Dashboard
                        </h1></div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p class="mx-2"><span><input type="checkbox" class="mt-1 has-text-weight-bold"
                                                         id="non-zero"> Non-zero budget numbers</span>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-main-section ">
            <div class="notification-div is-hidden mb-3" id="upload-notification">
                <div class="notification is-info">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div>
                                    <span class="icon"><i class="mdi mdi-buffer default"></i></span>
                                    <b>Your Budget Has been Submitted for Approval. If you wish to make any changes
                                        request
                                        to do so <a>here</a></b>
                                </div>
                            </div>
                        </div>
                        <div class="level-right">
                            <button type="button" class="button is-small is-white jb-notification-dismiss">Dismiss
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-div is-hidden mb-3" id="change-notification">
                <div class="notification is-info">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div>
                                    <span class="icon"><i class="mdi mdi-buffer default"></i></span>
                                    <b>Your change request has been submitted please. You will be notified once
                                        approved</b>
                                </div>
                            </div>
                        </div>
                        <div class="level-right">
                            <button type="button" class="button is-small is-white jb-notification-dismiss">Dismiss
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor" id="dashboard-cards">
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Total Budget
                                    </h1>
                                        <h6 class="title">
                                            ZMW {{ total }}
                                        </h6>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-primary"><i
                                            class="mdi mdi-cash-multiple mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Amount Depleted
                                    </h1>
                                        <h3 class="title">
                                            ZMW 0
                                        </h3>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-info is-large"><i
                                            class="mdi mdi-cart-outline mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="card tile is-child">
                        <div class="card-content">
                            <div class="level is-mobile">
                                <div class="level-item">
                                    <div class="is-widget-label"><h1 class="subtitle is-spaced">
                                        Variance
                                    </h1>
                                        <h3 class="title">
                                            0 %
                                        </h3>
                                    </div>
                                </div>
                                <div class="level-item has-widget-icon">
                                    <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                                            class="mdi mdi-chart-line mdi-48px"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.department.id == 12 %}
            {% include 'department-card-content.html' with dept=finance dept_name='Finance' dept_id=12%}
            {% elif request.user.department.id == 2 %}
            {% include 'department-card-content.html' with dept=internal_audit dept_name='Internal Audit' dept_id=2%}
            {% elif request.user.department.id == 3 %}
            {% include 'department-card-content.html' with dept=supply_chain dept_name='Supply Chain' dept_id=3 %}
            {% elif request.user.department.id == 4 %}
            {% include 'department-card-content.html' with dept=clearing dept_name='BDS' dept_id=4 %}
            {% elif request.user.department.id == 5 %}
            {% include 'department-card-content.html' with dept=public_relations dept_name='Public Relations' dept_id=5 %}
            {% elif request.user.department.id == 6 %}
            {% include 'department-card-content.html' with dept=technical dept_name='Technical' dept_id=6 %}
            {% elif request.user.department.id == 7 %}
            {% include 'department-card-content.html' with dept=information_systems dept_name='Information Systems' dept_id=7 %}
            {% elif request.user.department.id == 8 %}
            {% include 'department-card-content.html' with dept=legal_risk dept_name='Legal & Risk' dept_id=8 %}
            {% elif request.user.department.id == 9 %}
            {% include 'department-card-content.html' with dept=human_capital dept_name='Human Capital' dept_id=9 %}
            {% elif request.user.department.id == 10 %}
            {% include 'department-card-content.html' with dept=sales_marketing dept_name='Sales & Marketing' dept_id=10 %}
            {% elif request.user.department.id == 11 %}
            {% include 'department-card-content.html' with dept=admin dept_name='Administration' dept_id=11  %}
            {% elif request.user.department.id == 1 %}
            {% include 'department-card-content.html' with dept=ceo dept_name='CEO' dept_id=1%}
            {% endif %}


        </section>

        {% include 'partials/post-modal.html' %}


    </div>


{% endblock %}
{% block extra-scripts %}
{% endblock %}