{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="loader" class="loader is-hidden"></div>
    <div id="app">
        <section class="section is-title-bar">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-hero-bar">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item"><h1 class="title">
                            OPEX Budget {% if status == True %} Adjustments {% else %} Input {% endif %}
                        </h1></div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <p class="mx-2"><span><input type="checkbox" class="mt-1 has-text-weight-bold"
                                                         id="non-zero"> Non-zero budget numbers</span>
                            </p>
                            
                            <div class="buttons is-right">
                               
                                <button data-target="upload-modal"
                                        class=" button is-small jb-modal has-text-black" style="border: 0px">
                                    {% if status == True %}  <span>Save Changes</span>  {% else %}<span>Upload</span>{% endif %}
                                    <span class="icon"><i class="mdi mdi-upload"></i></span>
                                </button>
                                <!--{% if request.user.role == '002' %}
                                    <select class="select my-2 " style="border:1px" name="budget_set"
                                            onchange="navigateToBudget(this.value)">
                            
                                        <option value="1" {% if budget_set == 'Budget 1' %} selected {% endif %}>Budget Set
                                            1
                                        </option>
                                        <option value="2" {% if budget_set == 'Budget 2' %} selected {% endif %}>Budget Set
                                            2
                                        </option>
                                        <option value="3" {% if budget_set == 'Budget 3' %} selected {% endif %}>Budget Set 3
                                        </option>
                            
                                    </select>
                                {% else %}
                                     <button class="button is-light-passive mt-3 ml-1 is-outlined is-small">
                                         <span class="has-text-weight-bold">{{ activebs }}</span>
                                     </button>
                                {% endif %}-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section is-main-section ">
            {% include 'department-card-content.html' with dept=finance dept_name='Finance' dept_id=12 %}
            {% include 'department-card-content.html' with dept=internal_audit dept_name='Internal Audit' dept_id=2%}
            {% include 'department-card-content.html' with dept=supply_chain dept_name='Supply Chain' dept_id=3 %}
            {% include 'department-card-content.html' with dept=bds dept_name='BDS' dept_id=4%}
            {% include 'department-card-content.html' with dept=public_relations dept_name='Public Relations' dept_id=5%}
            {% include 'department-card-content.html' with dept=technical dept_name='Technical' dept_id=6%}
            {% include 'department-card-content.html' with dept=information_systems dept_name='Information Systems' dept_id=7%}
            {% include 'department-card-content.html' with dept=legal_risk dept_name='Legal & Risk' dept_id=8%}
            {% include 'department-card-content.html' with dept=human_capital dept_name='Human Capital' dept_id=9%}
            {% include 'department-card-content.html' with dept=sales_marketing dept_name='Sales & Marketing' dept_id=10%}
            {% include 'department-card-content.html' with dept=admin dept_name='Administration' dept_id=11%}
            {% include 'department-card-content.html' with dept=ceo dept_name='CEO' dept_id=1%}
            {% include 'department-card-content.html' with dept=staff_remuneration dept_name='Staff & Remunerations' dept_id=14%}
        </section>
        {% include 'partials/post-modal.html' %}

    </div>
{% endblock %}
{% block extra-scripts %}

{% endblock %}